## udemy 크롤링 데이터 전처리
- 수작업을 도와줄 간단한 코드 입니다.
- csv파일을 searching하는 것 보다 도움이 될 것 같아 만들어 봅니다.
- clone하셔서 사용하실 경우에 경로만 잘 지정해 주시면 될 것 같습니다.

In [75]:
import pandas as pd
import numpy as np
import re

In [76]:
#경로는 바꿔서 사용하시면 될 것 같습니다.

udemy_data = pd.read_csv('../Crawling/udemy_data/udemy_data-science_230718.csv')

In [77]:
udemy_data.head(1)

,대분류,소분류,강의명,난이도,가격(현재가격),가격(원래가격),총소요시간,강의소개,언어,출처
0,data-science,Data Analysis,아빠가 들려주는 [데이터 수집과 정리의 기본],초급자,"₩17,000","₩39,000",1시간 주문형 동영상,배울 내용\n데이터를 효과적으로 수집하는 방법\n데이터 분석하기 좋도록 데이터를 정...,한국어,https://www.udemy.com/course/data_basic/

- 전체 row 개수에 따라 count()함수 결과를 보고 결측치를 확인 할 수 있습니다

In [78]:
print('전체 row 개수: ',len(udemy_data))
udemy_data.count()

전체 row 개수:  1241

대분류         1241
소분류         1235
강의명         1237
난이도         1241
가격(현재가격)    1146
가격(원래가격)     997
총소요시간       1135
강의소개        1136
언어          1237
출처          1241
dtype: int64

### 결측 부분 파악  
- ```무료가 아닌 부분을 기점으로 조건을 통해 찾아보려 합니다.```
- ```col 변수만 바꾸면 누락된 idx와 url을 확인 할 수 있습니다.```  
-> 크롤링으로 긁어오고 싶었는데 xpath가 다 상이하네요..

In [79]:
#가격이 무료가 아닌 dataframe 생성

notfree_data = udemy_data[udemy_data['가격(현재가격)'] != '무료']

In [80]:
#소분류를 예시로 간단하게 파악할만한 코드입니다. 
#col에 넣은 column이 null값 이라면 index와 출처를 출력하고 modify_idx 리스트에 추가합니다.
#시간이 없어서 간단하게 밖에 못만들었네요.

col = '소분류'
modify_idx = []

for idx, data in notfree_data[notfree_data[col].isnull() == True]['출처'].items():
    modify_idx.append(idx)
    print(idx, data)

215 https://www.udemy.com/course/data-science-with-python-complete-course/
274 https://www.udemy.com/course/python-for-data-analysis-step-by-step/
390 https://www.udemy.com/course/dbt-cloud/
394 https://www.udemy.com/course/optimization-for-load-reduction-with-storage/
523 https://www.udemy.com/course/the-complete-unity-masterclass-build-2d-3d-ai-games/
1044 https://www.udemy.com/course/python-data-science-numpy-cwiczenia/

In [83]:
#위의 인덱스 순으로 data에 문자열 형태로 집어 넣으면 udamy_data가 넣으신 data로 update 됩니다.
#숫자는 예시고 data는 실제 누락된 값을 넣으면 될 것 같습니다.

modify_data = ['1', '2', '3', '4', '5', '6']

for idx,data  in zip(modify_idx, modify_data):
    udemy_data.loc[idx, col] = data

print('변환 데이터')
udemy_data[col][modify_idx]

변환 데이터

215     1
274     2
390     3
394     4
523     5
1044    6
Name: 소분류, dtype: object

- count로 누락개수 채워졌는지 확인 후 원하는 곳에 저장하시면 될 것 같습니다.

In [ ]:
udemy_data.count()

In [ ]:
udemy_data.to_csv('', index = False)